.desktop-3-child,
.desktop-3-item {
  position: absolute;
  top: 28px;
  left: 140px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.desktop-3-item {
  left: 1102px;
}
.desktop-3-inner {
  position: absolute;
  top: -116px;
  left: 548px;
  width: 353px;
  height: 0;
  display: none;
}
.ellipse-icon {
  position: absolute;
  top: 28px;
  left: 624px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.accessibility,
.affordability,
.technological-integration {
  position: absolute;
  top: 269px;
  left: 120px;
  line-height: 60px;
  display: inline-block;
  width: 240px;
  height: 60px;
}
.accessibility,
.technological-integration {
  top: 263px;
  left: 1050px;
  text-align: center;
  width: 304px;
  height: 119px;
}
.technological-integration {
  top: 268px;
  left: 576px;
  line-height: 32px;
  width: 296px;
  height: 64px;
}
.desktop-3-child1,
.desktop-3-child2,
.rectangle-div {
  position: absolute;
  top: 376px;
  left: 48px;
  background-color: var(--color-pink-100);
  width: 378px;
  height: 432px;
}
.desktop-3-child1,
.desktop-3-child2 {
  left: 546px;
  background-color: var(--color-pink-200);
}
.desktop-3-child2 {
  left: 1013px;
}
.affordability-we-believe {
  position: absolute;
  top: 403px;
  left: 73px;
  line-height: 40px;
  font-weight: 300;
  display: inline-block;
  width: 335px;
  height: 326px;
}
.affordability-we-believe,
.o {
  font-size: var(--font-size-5xl);
}
.our-approach-combines-advanced {
  margin: 0;
}
.our-approach-combines-container,
.we-aim-to-container {
  position: absolute;
  top: 392px;
  left: 576px;
  line-height: 40px;
  font-weight: 300;
  display: inline-block;
  width: 332px;
  height: 622px;
  font-size: var(--font-size-3xl);
}
.we-aim-to-container {
  top: 396px;
  left: 1032px;
  font-size: var(--font-size-5xl);
  width: 339px;
  height: 385px;
}
.ongoing-development {
  position: absolute;
  top: 922px;
  left: 103px;
  font-size: var(--font-size-21xl);
  line-height: 60px;
  display: inline-block;
  width: 551px;
  height: 68px;
}
.desktop-3-child3 {
  position: absolute;
  top: 990px;
  left: 282px;
  max-height: 100%;
  width: 252px;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
