.desktop-8-child {
  position: absolute;
  top: 0;
  left: 89px;
  background-color: var(--color-pink-200);
  width: 1281px;
  height: 526px;
}
.fostering-goodwill-and,
.miss-h-k1,
.services-hhs {
  position: absolute;
  top: 0;
  left: 163px;
  line-height: 30px;
  display: inline-block;
  width: 496px;
  height: 115px;
}
.miss-h-k1,
.services-hhs {
  top: 8px;
  left: 865px;
  width: 385px;
  height: 152px;
}
.miss-h-k1 {
  top: 227px;
  left: 145px;
  width: 600px;
  height: 217px;
}
.dr-roy-littlefield {
  margin: 0;
  white-space: pre-wrap;
}
.chief-executive-officer {
  margin: 0;
}
.dr-roy-littlefield-container {
  position: absolute;
  top: 213px;
  left: 868px;
  line-height: 30px;
  display: inline-block;
  width: 328px;
  height: 261px;
}
.desktop-8-item {
  position: absolute;
  top: 512px;
  left: 0;
  background-color: var(--color-lavenderblush);
  width: 1440px;
  height: 512px;
}
.contact-us {
  position: absolute;
  top: 581px;
  left: 89px;
  font-size: var(--font-size-21xl);
  line-height: 30px;
  display: inline-block;
  width: 250px;
  height: 50px;
}
.desktop-8-inner {
  position: absolute;
  top: 629px;
  left: 92px;
  max-height: 100%;
  width: 148px;
}
.email-address-infohkdcancer-container,
.office-address-254-container {
  position: absolute;
  top: 698px;
  left: 76px;
  line-height: 30px;
  display: inline-block;
  width: 502px;
  height: 286px;
}
.email-address-infohkdcancer-container {
  top: 700px;
  left: 655px;
  width: 665px;
  height: 277px;
}
.desktop-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
