.desktop-9-child {
  position: absolute;
  top: 571px;
  left: 105px;
  background-color: var(--color-pink-100);
  width: 602px;
  height: 167px;
}
.join-us-in1 {
  position: absolute;
  top: 0;
  left: 105px;
  line-height: 30px;
  display: inline-block;
  width: 1196px;
  height: 70px;
}
.your-donation-no {
  margin: 0;
}
.to-learn-more-container,
.together-we-can-container,
.your-donation-no-container {
  position: absolute;
  top: 121px;
  left: 105px;
  line-height: 30px;
  display: inline-block;
  width: 1168px;
  height: 96px;
}
.to-learn-more-container,
.together-we-can-container {
  top: 295px;
  width: 1062px;
  height: 66px;
}
.to-learn-more-container {
  top: 427px;
  width: 922px;
  height: 74px;
}
.together-we-can1 {
  position: absolute;
  top: 590px;
  left: 126px;
  line-height: 30px;
}
.hkd-cancer-immunotherapy2,
.with-heartfelt-gratitude {
  position: absolute;
  top: 640px;
  left: 126px;
  line-height: 30px;
}
.hkd-cancer-immunotherapy2 {
  top: 690px;
}
.desktop-9 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
