body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-lato: Lato;
  --font-mplus-1p: "Mplus 1p";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-3xl: 22px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-pink-100: #fdc7de;
  --color-pink-200: #ffc1db;
  --color-deeppink: #ff4392;
  --color-lavenderblush: #ffedf5;
}
