.desktop-1-child {
  position: absolute;
  top: 133px;
  left: 0;
  width: 1464px;
  height: 736px;
  object-fit: cover;
}
.desktop-1-item {
  position: absolute;
  top: 210px;
  left: 61px;
  background-color: var(--color-pink-200);
  width: 613px;
  height: 543px;
}
.revolutionizing-cancer-treatme {
  position: absolute;
  top: 288px;
  left: 85px;
  font-size: var(--font-size-29xl);
  line-height: 60px;
  font-family: var(--font-mplus-1p);
  display: inline-block;
  width: 532px;
  height: 303px;
}
.our-mission-is-to {
  margin: 0;
}
.our-mission-is-container {
  position: absolute;
  top: 607px;
  left: 84px;
  font-family: var(--font-lato);
  display: inline-block;
  width: 533px;
  height: 123px;
}
.about-us,
.contact,
.hkd-cancer-immunotherapy,
.info {
  position: absolute;
  top: 58px;
  left: 61px;
  font-weight: 500;
  display: inline-block;
  width: 373px;
  height: 30px;
}
.about-us,
.contact,
.info {
  left: 1028px;
  width: 101px;
  height: 24px;
}
.contact,
.info {
  left: 902px;
  width: 53px;
}
.contact {
  top: 60px;
  left: 1188px;
  width: 88px;
  height: 22px;
}
.desktop-1-inner {
  position: absolute;
  top: 298px;
  left: 457.5px;
  max-height: 100%;
  width: 149px;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-2-child {
  position: absolute;
  top: 64px;
  left: 870px;
  width: 478px;
  height: 292px;
  object-fit: cover;
}
.desktop-2-item {
  position: absolute;
  top: 78px;
  left: 80px;
  max-height: 100%;
  width: 220px;
}
.what-is-immunotherapy {
  position: absolute;
  top: 96px;
  left: 80px;
  font-size: var(--font-size-29xl);
  line-height: 60px;
  display: inline-block;
  width: 706px;
  height: 80px;
}
.immunotherapy-is-a {
  position: absolute;
  top: 176px;
  left: 88px;
  line-height: 30px;
  display: inline-block;
  width: 716px;
  height: 200px;
}
.desktop-2-inner {
  position: absolute;
  top: 487px;
  left: 0;
  background-color: var(--color-pink-100);
  width: 1440px;
  height: 418px;
}
.how-can-cancer {
  position: absolute;
  top: 533px;
  left: 88px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 706px;
  height: 111px;
}
.vector-icon {
  position: absolute;
  top: 589px;
  left: 419px;
  max-height: 100%;
  width: 323px;
}
.cancer-immunotherapy-is {
  margin: 0;
}
.cancer-immunotherapy-is-container {
  position: absolute;
  top: 658px;
  left: 84px;
  line-height: 30px;
  text-align: justify;
  display: inline-block;
  width: 1182px;
  height: 178px;
}
.our-focus-areas {
  position: absolute;
  top: 950px;
  left: 584px;
  font-size: var(--font-size-21xl);
  text-align: center;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-3-child,
.desktop-3-item {
  position: absolute;
  top: 28px;
  left: 140px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.desktop-3-item {
  left: 1102px;
}
.desktop-3-inner {
  position: absolute;
  top: -116px;
  left: 548px;
  width: 353px;
  height: 0;
  display: none;
}
.ellipse-icon {
  position: absolute;
  top: 28px;
  left: 624px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.accessibility,
.affordability,
.technological-integration {
  position: absolute;
  top: 269px;
  left: 120px;
  line-height: 60px;
  display: inline-block;
  width: 240px;
  height: 60px;
}
.accessibility,
.technological-integration {
  top: 263px;
  left: 1050px;
  text-align: center;
  width: 304px;
  height: 119px;
}
.technological-integration {
  top: 268px;
  left: 576px;
  line-height: 32px;
  width: 296px;
  height: 64px;
}
.desktop-3-child1,
.desktop-3-child2,
.rectangle-div {
  position: absolute;
  top: 376px;
  left: 48px;
  background-color: var(--color-pink-100);
  width: 378px;
  height: 432px;
}
.desktop-3-child1,
.desktop-3-child2 {
  left: 546px;
  background-color: var(--color-pink-200);
}
.desktop-3-child2 {
  left: 1013px;
}
.affordability-we-believe {
  position: absolute;
  top: 403px;
  left: 73px;
  line-height: 40px;
  font-weight: 300;
  display: inline-block;
  width: 335px;
  height: 326px;
}
.affordability-we-believe,
.o {
  font-size: var(--font-size-5xl);
}
.our-approach-combines-advanced {
  margin: 0;
}
.our-approach-combines-container,
.we-aim-to-container {
  position: absolute;
  top: 392px;
  left: 576px;
  line-height: 40px;
  font-weight: 300;
  display: inline-block;
  width: 332px;
  height: 622px;
  font-size: var(--font-size-3xl);
}
.we-aim-to-container {
  top: 396px;
  left: 1032px;
  font-size: var(--font-size-5xl);
  width: 339px;
  height: 385px;
}
.ongoing-development {
  position: absolute;
  top: 899px;
  left: 73px;
  font-size: var(--font-size-21xl);
  line-height: 60px;
  display: inline-block;
  width: 551px;
  height: 68px;
}
.desktop-3-child3 {
  position: absolute;
  top: 967px;
  left: 245px;
  max-height: 100%;
  width: 252px;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
